<% provide(:title, 'Hảo Trương Blog') %>
<div class="autopagerize_page_element">
  <div class="content">
      <div class="post animated fadeInDown">
        <div class="post-title">
          <h2>
            <a href="">Có những điều mình mà chúng ta đáng có hằng đêm có những</a>
          </h2>
        </div>
        <div class="post-content">
          <p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Enim quia consectetur eos, repudiandae velit, libero. Omnis vero consequatur nisi, ipsam dolorem, enim iusto. Veritatis natus illum quo veniam, recusandae, velit?</p>
        </div>
        <div class="post-footer">
          <div class="meta">
            <div class="info">
              <i data-feather="clock"></i> <span class="date">12/12/2020</span>
              <i data-feather="tag"></i> <span class="tag" title="random"> random</span>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
